<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Product List</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="container">
            <h1>Product List</h1>
            <ul>
                <% products.forEach((product) => { %>
                    <li>
                        <h2><%= product.name %></h2>
                        <p><%= product.description %></p>
                        <p><%= product.price %></p>
                    </li>
                <% }) %>
            </ul>
        </div>
    </body>
</html>
